
body {
    background:  #0C2C52; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient( #0C2C52,  #5E9DC8,  #DCF0F7); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient( #0C2C52,  #5E9DC8,  #DCF0F7); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient( #0C2C52,  #5E9DC8,  #DCF0F7); /* For Firefox 3.6 to 15 */
    background: radial-gradient( #0C2C52,  #5E9DC8,  #DCF0F7); /* Standard syntax */
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-color: ;
}

.page-header {
    color: #0C2C52;
    text-align: center;
}

.panel-title {
    background-color: #5E9DC8;
    color: #DCF0F7;
}

#panel-heading {
    background-color: #5E9DC8;
}

.panel-body {
    background-color: #DCF0F7;
    color: #5E9DC8;
}

.login-success {
    background-color: #5E9DC8;
    color: #DCF0F7;
}

.register {
    margin-top: 5px;
}

button {
    width: 100%;
}

button:hover {
    background-color: #5E9DC8;
    color: #DCF0F7;
    opacity: 0.75;
}
