/* classes */

.cell{
    /*margin: 4%; */
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    width: 9.6vh;
}

.column {
    float: left;
    background-color: #f757ee;
    min-width: 35px;
    width: 12vh;
}

.lastColumn .row{
    border-right: solid; border-width: 0.4vh;
}

.dummy{
    margin-top: 100%;
}



.row {
    display: block;
    background-color: #42689d;
    min-width: 30px; min-height: 30px;
    width: 9.6vh; height: 9.6vh;
    border-top: solid; border-left: solid; border-width: 0.4vh;

}
.lastRow{
    border-bottom: solid; border-width: 0.4vh; border-left: solid;
}

.sp1 {
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    width: 9.6vh;
}
.sp2 {
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    width: 9.6vh;
}
/* ids*/

.game {
    background-color: #5E9DC8;
}

.spielfeld {
    align-content: center;
}

#background h2 {
    text-align: center;
    color: #DCF0F7;
}