/* classes */

.cell {
    /*margin: 4%; */
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    width: 9.6vh;
}

.column {
    float: left;
    color: #0C2C52;
    min-width: 35px;
    width: 12vh;
}

.lastColumn .row {
    border-right: solid; border-width: 0.4vh;
}

.dummy{
    margin-top: 100%;
}



.row {
    display: block;
    color: #5E9DC8;
    min-width: 30px; min-height: 30px;
    width: 9.6vh; height: 9.6vh;
    border-top: solid; border-left: solid; border-width: 0.4vh;

}
.lastRow{
    border-bottom: solid; border-width: 0.4vh; border-left: solid;
}

.rot {
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    width: 9.6vh;
}
.gelb {
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    width: 9.6vh;
}
.lila {
    background-color: rebeccapurple;
    border-radius: 50%;
    display: inline-block;
    width: 9.6vh;
}
.gruen {
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    width: 9.6vh;
}
.orange {
    background-color: darkorange;
    border-radius: 50%;
    display: inline-block;
    width: 9.6vh;
}
.grau {
    background-color: darkslategrey;
    border-radius: 50%;
    display: inline-block;
    width: 9.6vh;
}
/* ids*/

.game {
    background-color: #5E9DC8;
    padding-bottom: 20px;
}

#background h2 {
    text-align: center;
    color: #DCF0F7;
}

.vierfeld {
    padding-bottom: 10px;
}